html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  height: 100vh;
}

text,
textarea,
body,
input,
select,
button {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  flex: 3 60rem;
}

.siderbar-content {
  flex: 1 20rem;
}

a {
  text-decoration: none;
}
/* Products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-height: 37rem;
  max-width: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem solid #808080;
}

.button.primary {
  background-color: #f0c040;
}

/* Filter */

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem solid #c0c0c0;
}

.filter div {
  flex: 1;
}
